@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: var(--font-roboto-flex), sans-serif;
}

@theme inline {
  --color-primary: #7b2cbf;
  --color-secondary: #5a1991;
  --color-secondaryColor: #f3f0ff;
  --color-alertColor: #eab308;
  --color-alertError: #ef4444;
  --color-alertSucess: #22c55e;
  --color-lightBackground: #f7f7f9;
  --color-darkBackground: #e5e3f3;
  --color-secondaryBackground: #ffffff;
  --color-darkText: #222222;
  --color-secondaryText: #6b7280;
  --color-linkBlue: #225991;
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
